
@media (max-width: 576px) {
    .banner img {
        max-width: 60%;
    }
    header{
        padding: 15px 50px;
    }
    
}


@media screen and (max-width: 768px) {
    nav, ul {
        flex-direction: column;
    }
    nav ul li  {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .banner img {
        max-width: 80%;
    }
   
}
