/* Mobile Device */
@media (max-width: 576px) {
    .banner img {
        max-width: 60%;
    }

    header {
        padding: 15px 50px;
    }

}

/* Tablet Device */

@media screen and (max-width: 768px) {

    nav,
    ul,
    .banner-full,
    .we-are-gamer {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .banner img, .gamer-image img {
        max-width: 80%;
    }

    .banner-content {
        order: 1;
        margin-top: 1.2rem;
    }

    .btn-primary,   .btn-secondary {
        padding: 10px 20px;
        border-radius: 24px;
        margin: 0 5px;
    }
.button {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

}