/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* common css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
}

ul,
ol {
    list-style-type: none;
}


a {
    text-decoration: none;
}

main {
    max-width: 1100px;
    padding: 0 100px;
    margin: 0 auto;
}



:root {
    --purple: #F948B2;
}

.primary-color {
    color: var(--purple);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

main,
.banner {
    max-width: 1140px;
    margin: 0 auto;

}

section {
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

.btn-primary {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    padding: 1.2rem 3rem;
    border: 0;
    color: white;

}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 1.2rem 3rem;
    border: 0;
    color: white;

}

/* header css */

header {
    padding: 30px 100px;
}


.logo-title {
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.social-media-icon {
    width: 33.916px;

}

.social-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: .5rem 1rem;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul li {
    margin-right: 2rem;

}

nav ul li a {
    color: #3C354F;
    ;
}

/* banner css */

.play-button {
    margin-right: 5px;
}

.banner-image,
.gamer-image,
.play-instantly-image,
.career-image {
    max-width: 100%;
}

.banner-image img,
.gamer-image img,
.play-instantly-image img,
.career-image img {
    width: 90%;
}

.banner-content h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

/*  We are gamer css */
.we-are-gamer {
    margin: 20 0;
}

.gamer-content-description,
.game-image-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.quote {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}


/* Online game image css */
.online-game-image {
    padding: 20px;
    gap: 20px;
}

.online-game-image img {
    width: 100%;
}


/* Play instantly css */

.play-instantly-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

/* Career css */

.career {
    background-color: var(--purple);
    padding: 100px;
    color: white;
}

.course {

    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

/* Different game css */

.game-container img, .game-section > div, .game-bottom > div {
margin-right: 5px;
}

/* footer css */

footer {
    background: #0B0223;
    padding:  100px;
}

footer h2, footer p {
    color: white;
}

footer p {
    margin-right: 10px;
}